{% extends "admin_base.html" %}

{%block content_body %}
{% load admin_extras %}
<ul class="breadcrumb">
  <li {%ifequal list_type "all"%}class="active"{%endifequal%}>
    <a href="/admin/seller/request/list/all/1">All</a>
    <span class="divider">|</span>
  </li>
  <li {%ifequal list_type "pending"%}class="active"{%endifequal%}>
    <a href="/admin/seller/request/list/pending/1">Pending</a>
    <span class="divider">|</span>
  </li>
  <li {%ifequal list_type "approved"%}class="active"{%endifequal%}>
    <a href="/admin/seller/request/list/approved/1">Approved</a>
    <span class="divider">|</span>
  </li> 
  <li {%ifequal list_type "rejected"%}class="active"{%endifequal%}>
    <a href="/admin/seller/request/list/rejected/1">Rejected</a>
    <span class="divider">|</span>
  </li>
  <li {%ifequal list_type "signedup"%}class="active"{%endifequal%}>
    <a href="/admin/seller/request/list/signedup/1">Signed up</a>
  </li>
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {%for seller_request in request_list%}
    <tr>
      <td>
	<a href="/admin/seller/request/view/{{seller_request.id}}">{{ seller_request.name }}</a>
      </td>
      <td>
	{{ seller_request.email }}
      </td>
      <td>
	{{ seller_request.phone }}
      </td>
      <td>
	{{ seller_request.status|status_label|safe }}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
